<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="/static/js/libs/require.js"> </script>
    <script type="text/javascript" charset="utf-8">
        require(['/static/js/config.js?8'], function () {
            require(['app/chat-backbone'])
        });
    </script>
</head>
<body>

<div class="container">
    <div class="row" id="chat-app">
        <div class="col-md-10">
            <ul class="nav nav-pills" role="tablist" id="rooms">
                <li role="presentation" class="active"><a href="#">Home<span id="message-count" class="badge">0</span></a></li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Chat</div>
                <div id="chat" class="panel-body" style="height: 500px; overflow-y: auto">

                </div>
            </div>
            <div>
                <div class="form-group">
                    <input type="text" class="form-control" id="chat-input">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Visitors
                    <span id="client-count" class="badge float-right">0</span>
                </div>
                <div class="panel-body" style="height: 500px">
                    <table id="visitors">
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>